[submodule "3rd_party/imgui/imgui_git"]
	path = 3rd_party/imgui/imgui_git
	url = https://github.com/ocornut/imgui.git
[submodule "3rd_party/cereal/cereal_git"]
	path = 3rd_party/cereal/cereal_git
	url = https://github.com/USCiLab/cereal.git
[submodule "3rd_party/assimp/assimp_git"]
	path = 3rd_party/assimp/assimp_git
	url = https://github.com/assimp/assimp.git
[submodule "3rd_party/SDL2/sdl2_git"]
	path = 3rd_party/SDL2/sdl2_git
url=git@bitbucket.org:pashkoff/mtb_sdl2.git
[submodule "3rd_party/entt/entt_git"]
	path = 3rd_party/entt/entt_git
	url = https://github.com/skypjack/entt.git
[submodule "3rd_party/imguizmo/imguizmo_git"]
	path = 3rd_party/imguizmo/imguizmo_git
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rd_party/microprofile/microprofile_git"]
	path = 3rd_party/microprofile/microprofile_git
	url = https://github.com/zeux/microprofile.git
